.pop-up_infoToolTip {
  display: block;
  cursor: default;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 765px) {
  .pop-up_infoToolTip {
    object-fit: cover;
    object-position: center;
  }
}
